*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body {
    margin: 0;
    padding: 0;
    /* background: url(1.jpg); */
    font-family: sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

header {
    position: absolute;
    background: #ffffff;
    top: 0;
    left: 0;
    padding: 0 100px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.1);
}

header.img {
    width: 120px;
    height: 40px;
}

header nav {
    float: right;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    color: #018344;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    text-decoration: none;
    display: block;
}

header nav ul li a:hover,
header nav ul li a.active {
    color: #555454;
    /* background-color: #018344; */
}

.menu-toggle {
    color: #018344;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.hero-container {
  display: flex;
  height: 470px;
  padding: 0 10%;
  margin: 20px 0;
}

.hero-container > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-container h1 {
  font-size: 40px;
  width: 360px;
  margin: 20px 0;
  font-weight: bolder;
  color: #018344;
}

.hero-container p {
  font-size: 20px;
  color: #4a5568;
}

.hero-container > img {
  width: 50%;
  height: 323px;
  align-self: center;
  border-radius: 5px;
}

.description-container {
  height: 400px;
  margin: 40px 0;
  padding: 0 10%;
  display: flex;
 
}

.description-container > div {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 4px 8px 0px rgba(1, 1, 1, 0.1);
  border-top: 1px solid rgb(228, 228, 228);
  
}

.description-container h2 {
  color: #018344;
  font-weight: bolder;
}

.description-container p {
  color: #4a5568;
}

.description-container > div > div {
  width: 500px;
}

.description-container > img {
  width: 40%;
  object-fit: cover;
}

.description-left-footer {
  display: flex;
  justify-content: right;
}

.font-weight-bold {
  font-weight: bold;
}

.pemisah {
  padding: 10px 0px px 0px;
}

.pemisah h3 {
  font-size: 30px;
  text-align: center;
}
.pemisah h3::after {
  content: "";
  border-bottom: 5px solid #e91e63;
  width: 52px;
  display: block;
  margin: 20px auto;
}

.content-container {
  min-height: 100px;
  margin: 15px 0;
  padding: 0 25%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.content-container .card {
  height: 100%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(1, 1, 1, 0.1);
  transform: 0.3s;
  border-radius: 10px;
  background-color: #dedede;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(1, 1, 1, 0.2);
  cursor: pointer;

}

.card > img {
  object-fit: cover;
  height: 140px;
  width: 240px;
  border-radius: 10px;
  align-items: center;
}

.card > .card-body {
  padding: 30px;
}

.card h3 {
  font-size: 20px;
  margin: 0 15px 0 0;
  text-decoration: none;
}

.card a {
  color: #018344;
  font-size: 17px;
  margin: 0 15px 0 0;
  align-items: center;
  text-decoration: none;
  
}

.card p1 {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.card > .card-footer {
  display: flex;
  justify-content: right;
  padding: 0 10px;
  
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}



  
.content-container2 {
  min-height: 300px;
  margin: 25px 0;
  padding: 0 25%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding-top: 30px;
}

.content-container2 .grid2 {
  height: 100%;
  width: 82%;
   
}

.grid2 {
  box-shadow: 0 4px 8px 0 rgba(1, 1, 1, 0.1);
  transform: 0.3s;
  border-radius: 10px;
  background-color: #dedede;
}

.grid2:hover {
  box-shadow: 0 4px 8px 0 rgba(1, 1, 1, 0.2);
  cursor: pointer;
}

.grid2 > img {
  object-fit: cover;
  height: 150px;
  width: 300px;  
  border-radius: 10px;
  align-items: center;
}

.grid2 > .grid-body {
  padding: 20px;
}

.grid2 h3 {
  font-size: 20px;
  margin: 0 15px 0 0;
}

.grid2 p {
  color: #4a5568;
  font-size: 16px;
  
}

.grid2 > .card-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
  
  /* .btn1 {
    background: #018344;
    outline: none;
    border: none;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
  } */


.row {
    display: flex;
    flex-wrap: wrap;
    max-width: 1170px;
    margin: auto;
}


.footer {
    background: #018344;
    padding: 70px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    
}
  
.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}


.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;

}

.footer-col ul li a:hover {
    color: #000000;
    padding-left: 8px;
    
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #018344;
}

.pemisah2 {
  padding: 10px 0px px 0px;
  padding-top: 5%;
}

.pemisah2 h3 {
  font-size: 30px;
  text-align: center;
}
.pemisah2 h3::after {
  content: "";
  border-bottom: 5px solid #e91e63;
  width: 52px;
  display: block;
  margin: 20px auto;
}


/* responsive */

@media (max-width: 700px) {
    header {
        padding: 0 20px;
    }

    .menu-toggle {
        display: block;
    }

    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #018344;
        top: 50px;
        left: -100%;
        transition: 0.5s all;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }
    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        color: rgb(255, 255, 255);
    }

    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
    .hero-container {
      flex-wrap: wrap;
      height: 100%;
    }
  
    .hero-container > div {
      width: 100%;
      height: 250px;
    }
  
    .hero-container > img {
      width: 100%;
      height: 100%;
    }
  
    .hero-container h1 {
      font-size: 30px;
      text-align: center;
      width: 100%;
    }
  
    .hero-container p {
      font-size: 22px;
      text-align: center;
    }

    .pemisah h3{
      font-size: 20px;
      text-align: center;
      width: 100%;
      padding-top: 50%;
      

    }

    
  
    /* .content-container {
      grid-template-columns: 1fr;
    } */
  
    .description-container {
      flex-wrap: wrap;
      height: 100%;
      padding-top: 45%;
    }
  
    .description-container h2{
      text-align: center;
      /* height: 50%; */
    }

    .description-container p {
      text-align: center;
      /* height: 100%; */
    }
  
    .description-container > div {
      width: 100%;
      /* padding-top: 50%; */
    }
  
    .description-container > div > div {
      width: 100%;
    }
  
    .description-container > img {
      width: 100%;
      height: 300px;
    }
    
    
    .content-container {
      grid-template-columns: 2fr;
      /* padding-top: 50%; */
      width: 50%;
      text-align: center;
    }
    
    .pemisah2 h3{
      font-size: 20px;
      text-align: center;
      width: 100%;
      padding-top: 35px;
      

    }

    .content-container2 {
      grid-template-columns: 1fr;
      /* padding-top: 50%; */
      width: 10 0%;
      text-align: center;
    }

    .grid2 > img {
      width: 100%;
      height: 200px;
    }
}